@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap');

@mixin h_center_content {
  position: relative;
  left: 50%;
  translate: -50% 0;
}

@mixin v_center_content {
  position: relative;
  top: 50%;
  translate: 0 -50%;
}

@mixin center_content {
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin hover {
  scale: $scale;

  transition: $animation scale;
}

@mixin bor { border: 1px solid red; }

//////////////////////////////

html {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(190, 100%, 25%);
  @include center_content;
  position: absolute;
}

h2 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: $theme;
}

h3 {
  font-size: $medium_font;
  font-weight: 400;
  margin: 0;
  color: $theme;
}
  
a {
  color: $theme;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

em { font-style: normal; }

hr {
  width: 100%;
  border: none;
  border-top: 1px solid $mild_grey;
}

dt {
  font-size: $medium_font;
  font-weight: 300;
  color: $grey;
}

dd {
  font-size: $medium_font;
  margin-left: 0;
  color: $theme;
}

.dl_grid {
  width: 95%;
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 15px;
  align-items: center;
  @include h_center_content;

  dt { text-indent: 7px; }

  dd {
    font-weight: 300;
    text-align: right;
  }

  // & > * { border: 1px solid blue; }
  
  h3 { grid-column: 1/3; }
}

//////////////////////////////

p { line-height: $line_height; }

button {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 15px;
  border: none;
  border: 1px solid $grey;
  background-color: transparent;
  border-radius: $border_radius;
  transition: background-color $animation;

  &:hover {
    // background-color: $hover;
  }
}