$border_radius: 5px;
$line_height: 1.7;

// Colours
$theme: hsl(190, 100%, 25%);
$light_theme: hsl(190, 100%, 32%);
$grey: #555;
$grey_hover: #F3F3F3;
$mild_grey: rgba(85, 85, 85, .4);
$shadow: #DDD;

// Font
$small_font: .8rem;
$medium_font: 1.2rem;
$large_font: 1.6rem;
$massive_font: 4rem;

// Transformations
$animation: .2s ease-out;
$animation_alt: 0.3s ease-in-out;
$scale: 1.02;


// --theme: hsl(190, 100%, 25%);
// --lightTheme: hsl(190, 100%, 32%);
// --greyHover: #F3F3F3;
// --grey: #555;
// --mildGrey: rgba(85, 85, 85, .4);
// --neutral: #FFF;
// --shadow: #DDD;
// --smallFont: .8rem;
// --mediumFont: 1.2rem;
// --largeFont: 1.6rem;
// --massiveFont: 4rem;