.welcome_text {
  @include h_center_content;
  margin-bottom: 30px;
  padding: 0;
  color: $grey;
  text-shadow: 0 4px 3px $shadow;
  text-align: center;
}

.container {
  width: 90vw;
  @include h_center_content;
  top: 50px;
}

.container__content {
  margin-bottom: 15vh;
  display: flex;
  justify-content: space-between;
}

.container__content__selected {
  width: 67vw;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.card {
  padding: 20px;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0 0 5px 1px $shadow;
  padding-bottom: 15px;
  transition: scale $animation;

  &:hover { scale: $scale; }
}

.card_small { width: 20vw; }

.card_large { width: 44vw; }

.card_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  
  // & > * { @include bor; }
}

.description {
  font-size: $small_font;
  color: $grey;
  display: block;
  margin-bottom: 15px;
}

.section_account {
  dl { margin: 0; }

  dd {
    margin-bottom: 10px;
    &:last-child { margin: 0; }
  }
}

.residence {
  // @include bor;
  // & > * { @include bor; }

  img {
    width: 100%;
    height: 500px;
  }

  h2 { margin: 0; }
}

.residence__info {
  display: flex;
  gap: 50px;
  translate: -25% 0;

  dd {
    text-align: left;
    text-indent: 7px;
  }

  // & > * { @include bor; }
}

.date {
  span {
    display: block;
    font-weight: 300;
    
    &:nth-child(2) {
      font-size: $small_font;
      font-weight: 500;
    }

    &:nth-child(3) { margin-top: 10px; }
  }
}

.duration {
  span {
    display: block;
    font-size: $small_font;

    &:nth-child(2) {
      font-size: $massive_font;
      font-weight: 300;
      text-align: right;
      scale: 1.2;

      em {
        font-size: $small_font;
        font-weight: 400;
      }
    }
  }
}

// Overview

// Account