@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500&family=Ubuntu:wght@400;500;700&display=swap");
html {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(190deg, 100%, 25%);
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
}

h2 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  color: hsl(190deg, 100%, 25%);
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  color: hsl(190deg, 100%, 25%);
}

a {
  color: hsl(190deg, 100%, 25%);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

em {
  font-style: normal;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(85, 85, 85, 0.4);
}

dt {
  font-size: 1.2rem;
  font-weight: 300;
  color: #555;
}

dd {
  font-size: 1.2rem;
  margin-left: 0;
  color: hsl(190deg, 100%, 25%);
}

.dl_grid {
  width: 95%;
  display: grid;
  grid-template-columns: 40% 60%;
  row-gap: 15px;
  align-items: center;
  position: relative;
  left: 50%;
  translate: -50% 0;
}
.dl_grid dt {
  text-indent: 7px;
}
.dl_grid dd {
  font-weight: 300;
  text-align: right;
}
.dl_grid h3 {
  grid-column: 1/3;
}

p {
  line-height: 1.7;
}

button {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 15px;
  border: none;
  border: 1px solid #555;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}
header {
  width: 100%;
  height: 100px;
  box-shadow: 0 5px 5px #EEE;
  position: relative;
}
header a {
  position: relative;
  top: 50%;
  translate: 0 -50%;
  position: absolute;
  right: 5%;
}
header a:hover {
  text-decoration: underline;
}

nav {
  position: relative;
  left: 50%;
  translate: -50% 0;
  top: 20px;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  left: 50%;
  translate: -50% 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

menu {
  width: 20vw;
  margin: 0;
}
menu h2 {
  margin-bottom: 20px;
}
menu ul {
  display: flex;
  flex-direction: column;
  border-left: 2px solid hsl(190deg, 100%, 25%);
}
menu li {
  padding: 15px 20px;
  color: #555;
  border-radius: 0 20px 20px 0;
  transition: text-indent 0.2s ease-out;
  cursor: default;
}
menu li:hover {
  text-indent: 10px;
}
menu em {
  font-size: 0.8rem;
}

.background_art {
  font-size: 16rem;
  margin: 0;
  color: hsl(190deg, 100%, 25%);
  user-select: none;
  opacity: 0.1;
  position: fixed;
  top: 75%;
  left: 15px;
  translate: 0 -50%;
}

footer {
  width: 100;
  height: 100px;
  background-color: hsl(190deg, 100%, 25%);
  box-shadow: 0 -5px 5px #CCC;
  position: relative;
  bottom: 0;
}
footer span {
  font-size: 0.9rem;
  color: #EEE;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  position: absolute;
}

.welcome_text {
  position: relative;
  left: 50%;
  translate: -50% 0;
  margin-bottom: 30px;
  padding: 0;
  color: #555;
  text-shadow: 0 4px 3px #DDD;
  text-align: center;
}

.container {
  width: 90vw;
  position: relative;
  left: 50%;
  translate: -50% 0;
  top: 50px;
}

.container__content {
  margin-bottom: 15vh;
  display: flex;
  justify-content: space-between;
}

.container__content__selected {
  width: 67vw;
}
.container__content__selected > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card {
  padding: 20px;
  border-radius: 20px;
  background-color: #FFF;
  box-shadow: 0 0 5px 1px #DDD;
  padding-bottom: 15px;
  transition: scale 0.2s ease-out;
}
.card:hover {
  scale: 1.02;
}

.card_small {
  width: 20vw;
}

.card_large {
  width: 44vw;
}

.card_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.description {
  font-size: 0.8rem;
  color: #555;
  display: block;
  margin-bottom: 15px;
}

.section_account dl {
  margin: 0;
}
.section_account dd {
  margin-bottom: 10px;
}
.section_account dd:last-child {
  margin: 0;
}

.residence img {
  width: 100%;
  height: 500px;
}
.residence h2 {
  margin: 0;
}

.residence__info {
  display: flex;
  gap: 50px;
  translate: -25% 0;
}
.residence__info dd {
  text-align: left;
  text-indent: 7px;
}

.date span {
  display: block;
  font-weight: 300;
}
.date span:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 500;
}
.date span:nth-child(3) {
  margin-top: 10px;
}

.duration span {
  display: block;
  font-size: 0.8rem;
}
.duration span:nth-child(2) {
  font-size: 4rem;
  font-weight: 300;
  text-align: right;
  scale: 1.2;
}
.duration span:nth-child(2) em {
  font-size: 0.8rem;
  font-weight: 400;
}

/*# sourceMappingURL=index.css.map */
